<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation page</title>
</head>
<body>
    <h1>Здарова, Фаря! Фаря, здарова! </h1>
    <img src="https://cdn.frankerfacez.com/emoticon/165784/4">
    <img src="https://cdn.7tv.app/emote/60b7ca81db8410b2f3008d95/4x">
        <ul>
            <li>
                <p>Если по какой-то причине нужен список всех id и title паков, не только ЧГК, но и Брейн ринг например, то вот ссылка:<a target="_blank" href="/api/packages">УДАЧИ!</a></p>
            </li>
            <li>
                <p>Можно выбрать свой id пака и посмотреть все туры внутри со всеми вопросами вместе. Пример: <a target="_blank" href="/api/packages/10L_FM_u">Полный пак. 3 тура по 12 вопросов.</a> </p>
            </li>
            <li>
                <p>Ещё ты можешь написать id.1 например и он найдёт тур с номером 1, т.е. важен номер после точки. Пример: <a target="_blank" href="/api/packages/10L_FM_u.1">Первый тур пака. 12 вопросов.</a> </p>
            </li>
        </ul>
        <h3>Работа с пользователями:</h3>
            <ul>
                <li>
                    <a target="_blank" href="api-auth/users/">Registration endpoint + extra actions</a>
                </li>
                    <br>
                <li>
                    <a target="_blank" href="/auth/token/login">Use this endpoint to obtain user authentication token.</a>
                </li>
                    <br>
                <li>
                    <a target="_blank" href="/auth/token/logout">Use this endpoint to logout user (remove user authentication token).</a>
                </li>
            </ul>
</body>
</html>