<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation page</title>
</head>
<body>
    <h1>Здарова, Фаря! Фаря, здарова! </h1>
    <img src="https://cdn.frankerfacez.com/emoticon/165784/4">
        <ul>
            <li>
                <a target="_blank" href="/api/packages">Вот тут паки в виде списка объектов с id + title. Скопируй любой id без кавычек</a>
            </li>
            <li>
                <p>Далее вставляешь в строку браузера твой id. Выглядит примерно так: айпишник_и_порт/api/packages/тут_твой_id </p>
            </li>
            <li>
                <p>Ещё ты можешь написать id.1 например и он найдёт тур с номером 1, т.е. важен номер после точки. Выглядит примерно так: айпишник_и_порт/api/packages/тут_твой_id.номер_тура </p>
            </li>
        </ul>
</body>
</html>