<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation page</title>
</head>
<body>
    <h1>Здарова, Фаря! Фаря, здарова! </h1>
    <img src="https://cdn.frankerfacez.com/emoticon/165784/4">
<!-- WIP -->
<!--        <ul>-->
<!--            <li>-->
<!--                <a target="_blank" href="/api/packages">Вот тут паки в виде списка объектов с id + title. Скопируй любой id без кавычек</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <p>Далее вставляешь в строку браузера твой id. Выглядит примерно так: айпишник_и_порт/api/packages/тут_твой_id </p>-->
<!--            </li>-->
<!--            <li>-->
<!--                <p>Ещё ты можешь написать id.1 например и он найдёт тур с номером 1, т.е. важен номер после точки. Выглядит примерно так: айпишник_и_порт/api/packages/тут_твой_id.номер_тура </p>-->
<!--            </li>-->
<!--        </ul>-->
    <h3>Написал костыль, чтобы выдавались json'ы без красивого представления, но зато должны работать запросы, удачных тренировок=)</h3>
    <img src="https://cdn.7tv.app/emote/60b7ca81db8410b2f3008d95/4x">
        <ul>
            <li>
                <a target="_blank" href="/api/">Вот тут первый тур пака для примера, 12 вопросов в формате json, жми сюда.</a>
            </li>
            <br>
            <li>
                <a target="_blank" href="/api/packages">Если по какой то причине хочешь найти id конкретного пака, вот тут они все, слева направо, 5088 отборных красавца, УДАЧИ!</a>
            </li>
            <li>
                <p>Можно выбрать свой id пака и посмотреть все туры внутри со всеми вопросами вместе. Выглядит примерно так: https://chgk-backend.herokuapp.com/api/packages/тут_твой_id </p>
            </li>
            <li>
                <p>Ещё ты можешь написать id.1 например и он найдёт тур с номером 1, т.е. важен номер после точки. Выглядит примерно так: https://chgk-backend.herokuapp.com/api/packages/тут_твой_id.номер_тура </p>
            </li>
        </ul>
</body>
</html>